name: "ESLint"

on:
  push:
    branches: ["main"]
    paths:
      - '**/*.js'
      - '**/*.json'
      - '**/*.md'
      - '.github/eslint.config.mjs'

  pull_request:
    branches: ["main"]
    paths:
      - '**/*.js'
      - '**/*.json'
      - '**/*.md'
      - '.github/eslint.config.mjs'

permissions: {}

jobs:
  eslint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install ESLint
        run: |
          npm install --no-audit --no-fund --save-dev \
            eslint@9 \
            globals \
            @eslint/json@latest \
            @eslint/js@9 \
            @eslint/markdown \
            eslint-formatter-gha

      - name: Run ESLint
        run: npx eslint --config .github/eslint.config.mjs .
